{% extends "base.html" %}

{% block title %}
    Logout 
{% endblock title %}

{% block content %}
<h2 class="text-center mt-5 mb-3"> Sign Out </h2>

<p class="text-center">Are you sure you want to Sign out?</p>

<form method="post" action="{% url 'account_logout' %}" class="text-center logout">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" id="widerButton" class="btn btn-danger mt-5">Sign out</button>
</form>


{% endblock content %}
